/* Body styles */
body {
  background-color: darkgray;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

main {
  flex: 1; 
  margin: 20px;
}

main {
 margin: 20px 20px 20px 20px;
}


/* Footer Styles */
footer {
  background-color: rgba(0, 100, 0, 0.74);
  color: white;
  text-align: center;
  padding-top: 20px;
}

#contactHeader {
  font-size: 22px;
  font-weight: bold;
}

a.foot-link:link, a.foot-link:visited {
    color: white;
  } 

.nav-item:hover {
    cursor: pointer;
  }

/* Navbar styles */

#logo {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.navbar {
  background-color: rgba(0, 100, 0, 0.74);
  font-size: 18px;
  font-weight: bold;
}

a:active {
  color: white;
}

 /* Login-Modal */
.modal-content {
  background-color: rgb(17, 100, 0);
  border-radius: 8px; 
  color: white;
}

.modal-header, .modal-body, .modal-footer {
  padding: 20px; 
}

.highlight-link {
  color: #007bff;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

/* Register Modal */

/* Appointment-Card */
.appointment {
  color: darkgray;
  border-radius: 8px;
  width: 75%;
  margin: 20px auto 20px auto;
}
