/* Body styles */
body {
  background-color: darkgray;
  padding-top: 70px;
  margin: 20px;
  margin-bottom: 200px;
}


/* Footer Styles */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 100, 0, 0.74);
  color: white;
  text-align: center;
  padding-top: 20px;
  margin-top: 50px;
}

#contactHeader {
  font-size: 20px;
  font-weight: bold;
}

a.foot-link:link, a.foot-link:visited {
    color: white;
  } 

.nav-item:hover {
    cursor: pointer;
  }

/* Navbar styles */

#logo {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.navbar {
  background-color: rgba(0, 100, 0, 0.74);
  font-size: 18px;
  font-weight: bold;
}

a:active {
  color: white;
}

 /* Login-Modal */
.modal-content {
  background-color: rgb(17, 100, 0);
  border-radius: 8px; 
}

.modal-header, .modal-body, .modal-footer {
  padding: 20px; 
}

/* Appointment-Card */
.appointment {
  color: darkgray;
  border-radius: 8px;
  width: 75%;
  margin: 20px auto 20px auto;
}